<%- include('header.ejs') %>

<div class="container">

  <!-- Contenido para usuarios NO logados -->
  <% if (!session.userId) { %>
    <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
  <% } %>

  
  <!-- Contenido para usuarios logados -->
  <% if (session.userId) { %>
    <h4>My Products</h4>
    <!-- Información del usuario -->
    <p><strong>User:</strong> <%= session.userName %></p>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Image</th>
          <th>Tags</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %> euros</td>
            <td><img src="<%= product.image %>" alt="<%= product.name %>" width="50" /></td>
            <td>  <% product.tags.forEach(function(tag) { %>
              <span><%= tag %></span><br />
            <% }); %></td>
            <td>
              <a href="/product/delete/<%= product.id %>" class="text-danger">
                <i class="bi bi-trash"></i> Delete
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>

<%- include('footer.ejs') %>