


    <%- include('header.ejs') %>

    <div class="container">
    
      <p>User ID: <%= session.userId %></p>
 
      <% // contenido para usuarios NO logados %>
      <% if (!session.userId) { %>
        <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
      <% } %>
    
      <% // contenido para usuarios logados %>
      <% if (session.userId) { %>
        <% products.forEach(product => { %>
          <p><%= product.name %> <%= product.price %> <%= product.tag %> <a href="/products/delete/<%= product.id %>"><i class="bi bi-trash"></i></a></p>
        <% }) %>
      <% } %>  
    
    </div>
    
    <%- include('footer.ejs') %>


  

    


